*{
    padding: 0;
    margin: 0;
}

.left{
    width: 100%;
    height: 12%;
    clip-path: polygon(0 0, 50% 0, 0% 70%);
    background-color: rgb(7, 49, 49);
    z-index: 2;
    position: absolute;
}

.right{
    margin-right: 0;
    width: 80%;
    margin-left: 20%;
    height: 15%;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background-color: rgb(244, 65, 0);
    z-index: 3;
    position: absolute;
}

.global_0{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: border-box;
}

.leftbox{
    background-color: rgb(176, 216, 252);
    width: 35%;
    min-height: 100vh;
    display: flex;
}

.rightbox{
    background-color: rgb(247, 242, 242);
    width: 70%;
    min-height: 100vh;
    display: flex;
}

.cmp-loc{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 100%;
    background-color: blue;
    display: flex;
}
.loc{
    margin-top: 20%;
    width: 80%;
    height: 35%;
    /*background-color: red;*/
}

.bloc{
    margin: 2.5%;
    font-size: 1.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

