:root{
    --
}

*{
    padding: 0;
    margin: 0;
}

.left{
    width: 100%;
    height: 12%;
    clip-path: polygon(0 0, 50% 0, 0% 70%);
    background-color: rgb(7, 49, 49);
    z-index: 2;
    position: absolute;
}

.right{
    margin-right: 0;
    width: 80%;
    margin-left: 20%;
    height: 15%;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background-color: rgb(244, 65, 0);
    z-index: 3;
    position: absolute;
}

.global_0{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: border-box;
    
}

.leftbox{
    background-color: rgb(176, 216, 252);
    width: 35%;
    min-height: 100vh;
    display: flex;
    position: absolute;
}

.rightbox{
    background-color: rgb(247, 242, 242);
    width: 70%;
    min-height: 100vh;
    display: flex;
    margin-left: 30%;
    position: absolute;
}

.cmp-loc{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 100%;
    font-size: 1.8vw;
    line-height: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.loc{
    margin-top: 25%;
    font-size: 1.5vw;
}

.bloc{
    margin: 2.5%;
}

h3{
    font-size: 2.5vw;
    opacity: 0.7;
}

h4{
    margin-top: 5%;
}

.competences,.langues,.reseau_sociaux{
    margin-top: 10%;
    margin-bottom: 10%;
}

#myProgress {
    position: relative;
    width: 27vw;
    height: 1.5vw;
    background-color: #ddd;
    border-radius: 16px;
    margin-top: 5%;
    margin-bottom: 5%;
}

#myBar {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: black;
    border-radius: 16px;
}

#myProgress_microsoft {
    position: relative;
    width: 27vw;
    height: 1.5vw;
    background-color: #ddd;
    border-radius: 16px;
    margin-top: 5%;
    margin-bottom: 5%;
}

#myBar_microsoft {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: black;
    border-radius: 16px;
}